body{

background:#0f172a;
font-family:Arial;

}

.form-card{

width:300px;
background:#1e293b;
padding:20px;
margin:100px auto;
color:white;
border-radius:10px;

}

input{

width:100%;
padding:10px;
margin-bottom:10px;

}
button{

width:100%;
padding:10px;
background:blue;
color:white;
border:none;
transition:0.3s;

}